
{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Item</th>
      <th>Available</th>
    </tr>
    {% for item in items%}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.available}}</td>
  {% if item.available ==  1%}
    
      <td >
        <form method="POST" action="{{ url_for('borrow_item', item_id=item.id) }}">
          <button type="submit" class="btn btn-primary">
            Borrow
          </button>
        </form>
      </td>
  {% else %}
  {% if current_user_role == "ADMIN" %}
      <td >
        <form method="POST" action="{{ url_for('return_item', item_id=item.id) }}">
          <button type="submit" class="btn btn-primary">
            Release
          </button>
        </form>
      </td>
  {% else %}
  <td>
    <button class="btn btn-primary" disabled>
      Borrow
      </button>

  </td>
  {% endif %}
  {% endif %}
      <td id = "remove_button">
        <form method="POST" action="{{ url_for('remove_item',item_id=item.id) }}">
          <button type="submit" class="btn btn-primary">
           Remove 
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}