{% extends "layout.html" %}

{% block body %}
<p>
  Welcome to the Pawn store
</p>

{% if items_available is defined %}
<p>
  The following items are available:
</p>

<ul>
  {% for item in items_available %}
  <li>
    {{item.name}}
  </li>
  {% endfor %}
</ul>

<p>
  There are currently: 
</p>

<ul>
  {% for count in items_count%}
  <li>
    {% if count.count == 1 %}
    {{count.count}} item in
    {% else %}
    {{count.count}} items in
    {% endif %}
    category <b>{{count.name}}</b>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
