
{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('user_create') }}">
  <table>
    <tr>
      <td>
        {{ form.username.label }}
      </td>
      <td>
        {{ form.username }}
      </td>
      <td>
        <ul>
          {% for error in form.username.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
      {{ form.password.label }}
      </td>
      <td>
        {{ form.password }}
      </td>
      <td>
      {{ form.confirm.label }}
      </td>
      <td>
        {{ form.confirm}}
      </td>
      <td>
        <ul>
          {% for error in form.password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Add a new user"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
